.slider.one {

  background-image: url('https://res.cloudinary.com/dwanjkcku/image/upload/c_scale,w_1700/v1522981634/fruit_bowl.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slider.two {
  background-image: url('https://res.cloudinary.com/dwanjkcku/image/upload/c_scale,w_1700/v1522981627/bibibap.jpg');
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}
.slider.three {
  background-image: url('https://res.cloudinary.com/dwanjkcku/image/upload/c_scale,w_1700/v1522981649/grapefruit_break.jpg');
  background-size: cover;
  background-position: bottom left;
  background-repeat: no-repeat;
}
.slider.four {
  background-image: url('https://res.cloudinary.com/dwanjkcku/image/upload/c_scale,w_1700/v1522981608/oatmeal_bowls.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.slider.five {
  background-image: image-url('f');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.slider.six {
  background-image: image-url('g');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 767px) {
  .slider {
    margin: 0 10%;
  }
}


.slider {
  height: 40vh;
  width: 100%;
  border: none;
  outline: none;
}

.slider:focus {
  border: none;
  outline: none;
}

.SliderContainer:focus {
  border: none;
  outline: none;
}

.SliderContainer {
  display: block;
  border: none;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 40px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 20px grey;
}
