@import "base/global.scss";
.header-link {
  text-decoration: none;
}

header {
  background-color: white;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}

.header-name {
  font-size: 15px;
  color: $orange;
}

.NavBarLeft {
  display: flex;
  align-items: center;
  width: 500px;
}

.NavBarRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 600px;
}

.Logo {
  padding-left: 30px;
  margin-left: 200px;
  padding-right: 30px;
  font-size: 40px;
  color: $orange;
  font-family: 'Merriweather', serif;
}

.sessionbuttons .header-group{
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.Register {
  font-size: 14px;
  color: $orange;
  background-color: white;
  border: 0px;
  margin: 10px;
}

.Register:hover {
  cursor: pointer;
  margin: 10px;
}

.SignIn, .logout{
  font-size: 14px;
  color: $orange;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid $orange;
  border-radius: 5px;
  margin: 10px;
}

.logout:hover, .SignIn:hover{
  background-color: $lightorange;
  cursor: pointer;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.fa {
  font-size: 20px;
  margin-right: 230px;
  margin-left: 10px;
}

.cart-label {
  color: grey;
  margin-left: 10px;
}
