@import "base/global.scss";
.header-link {
  text-decoration: none;
}

header {
  background-color: white;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid black;
}

.header-name {
  font-weight: bold;
  font-size: 20px;
  color: $orange;
}

.NavBarLeft {
  display: flex;
  align-items: center;
  width: 500px;
}

.NavBarRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Logo {
  padding-left: 20px;
  padding-right: 30px;
  font-size: 30px;
  color: $orange;
}
.header-group {
  display: flex;
  justify-content: space-between;
  width: 300px;
  align-items: center;
}

.sessionbuttons .header-group{
  display: flex;
  justify-content: space-between;
  width: 100px;
}
.Register {
    font-size: 20px;
    color: $orange;
    border: 0px;
    background-color: white;
}

.SignIn, .logout{
  font-size: 20px;
  color: $orange;
  padding: 10px;
  border: 1px solid $orange;
  border-radius: 10px;
}

.logout:hover{
  color: white;
  background-color: $orange;
}

.SignIn:hover {
  color: white;
  background-color: $orange;
}

.fa {
  font-size: 30px;
  margin-right: 20px;
}
