.homepage {
  display: flex;
  align-items: center;
}

.homepage-img {
  height: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 400px;
  padding: 10px;
  border: 1px solid black;
  margin-top: 100px;
  margin-left: 230px;
}
