@import "base/global.scss";

.homepage.productImg {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.homepage.productImg.bottom {
  object-position: bottom center;
}

.HomepageContainer {
  margin-left: 4%;
  margin-right: 4%;
  display: flex;
  margin-bottom: 30px;
}

.home-product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.homepage.items {
  margin-top: 10px;
  display: flex;
  width: 15.2%;
}


.homepage.items:hover {
  img {
    box-shadow: 0 0 10px grey;
  }
}

.homepage.items.category {
  border: 1px solid lightgrey;

  img:hover {
    box-shadow: none;
  }
}

.homepage.items.category:hover {
  li {
    text-decoration: underline;
  }
}

.homepage.items ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.home {
  width: 200px;
}

.home.productName {
  text-decoration: none;
  color: $darkgrey;
  font-size: 18px;
  margin-top: 6px;
  text-overflow: ellipsis;
  width: 100%;
}

.home.productName.category {
  padding: 5px;
  margin-top: 0px;
}

.home.productName:hover, .home.productSeller:hover {
  text-decoration: underline;
}

.home.productSeller, .home.productRating{
  font-size: 15px;
  color: grey;
  margin-top: 4px;
  text-decoration: none;
}

.home.productCost {
  margin-top: 4px;
  font-size: 15px;
}

.fa.fa-check {
  color: $orange;
  margin-right: 6px;
  font-size: 20px;
}

.homepage-selling-container {
  display: flex;
  margin-left: 4%;
  margin-right: 4%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.homepage-selling-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 25%;
}

.homepage-selling-item div {
  width: 100%;
  text-align: center;
  color: grey;
  font-size: 18px;
}

.homepage-title {
  text-align: center;
  font-size: 20px;
  color: grey;
  margin-bottom: 4px;
}

.popular-now {
  text-align: center;
  font-size: 26px;
  color: black;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 500;
}

.shopCategory {
  margin-top: 70px;
  text-align: center;
  font-size: 27px;
  color: black;
  margin-bottom: 30px;
  font-weight: 500;
}

.productsLinkContainer {
  text-align: center;
  display: flex;
  justify-content: center;
}

.productsLink {
  text-decoration: none;
  font-size: 20px;
  color: $orange;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid $orange;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.productsLink:hover {
  background-color: $lightorange;
  cursor: pointer;
}
