@import "base/global.scss";

.whole-shopping-cart-container {
  padding-top: 20px;
  width: 100%;
  min-width: 1100px;
  min-height: calc(100vh - 245px);
  background-color: $superlightgrey;
  padding-bottom: 30px;

  .no-items {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 0px 5px lightgrey;

    img {
      height: 200px;
      width: 200px;
      margin: 20px
    }

    div {
      font-size: 30px;
    }
  }

  h1 {
    padding: 20px;
    text-align: center;
    font-size: 25px;
  }

  .flex-whole-shopping-cart {
    display: flex;
    justify-content: center;
  }

  .whole-shopping-cart {
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    height: 100%;
    min-width: 1100px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    box-shadow: 0 0 5px grey;
    max-width: 1200px;
    align-content: center;
  }


  nav {
    display: flex;
    justify-content: center;
    // margin-left: 21%;
    // margin-right: 21%;
    min-width: 1000px;
    margin-bottom: 20px;
    align-items: center;
    // min-width: 700px;


    .keepShopping {
      text-decoration: none;
      background-color: white;
      font-size: 20px;
      color: $orange;
      margin-left: 750px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 7px;
      padding-bottom: 7px;
      border: 1px solid $orange;
      border-radius: 5px;
      height: 20px;
      position: relative;
      min-width: 150px;
    }

    .keepShopping:hover {
        background-color: $lightorange;
        cursor: pointer;
    }

    div {
      font-size: 20px;
    }

    ul {
      display: flex;
    }
  }
}

.shopping-cart-with-items {
  background-color: white;
  min-width: 500px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.item-container {
  width: 70%;
  min-width: 800px;
}

.checkout-container {
  width: 30%;
  height: 100%;
}


.no-items {
  width: 100%;
  border: 1px solid lightgrey;
  min-width: 800px;
  box-shadow: 0px 0px 5px lightgrey;
}


.shopping-cart-item {
  display: flex;
  padding: 10px;
  height: 100%;
  min-width: 800px;
  background-color: white;
  box-sizing: border-box;
  border-bottom: 1px solid $lightgrey;
  border-right: 1px solid $lightgrey;

  .image-shop-item {
    width: 230px;
  }

  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .product-detail-link-delete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

    .product-detail-link {
      text-decoration: none;
      font-weight: bold;
      color: black;
      margin-bottom: 10px;
      font-size: 20px;
    }

    button {
      padding-left: 7px;
      padding-right: 7px;
      padding-top: 3px;
      padding-bottom: 3px;
      border: 0px;
    }

    button:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .quantity-edit {
    width: 25%;
    min-width: 200px;

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        #quantity {
          width: 35px;
          margin-left: 5px;
          text-align: right;
        }

        label {
          margin-bottom: 10px;
        }
        .quantity-update {
          padding-left: 7px;
          padding-right: 7px;
          padding-top: 3px;
          padding-bottom: 3px;
          width: 70px;
          font-size: 14px;
          text-align: center;
          border: 1px solid lightgrey;
        }

        .quantity-update:hover {
          box-shadow: 0px 0px 5px grey;
          cursor: pointer;
        }
      }
    }


  }

  .item-cost-detail-container {
    height: 200px;
    min-width: 150px;

    .item-cost-detail {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      .tot-price {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
      }

      .ind-price {
        color: grey;
      }
    }
  }


  .checkout-cost {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }

  .checkout {
    padding: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: 65px;


    div {
      font-size: 20px;
    }

    button {
      width: 100%;
      padding-top: 3px;
      padding-bottom: 3px;
      background-color: $orange;
      height: 30px;
      color: white;
    }

    button:hover {
      background-color: $orangehover;
      cursor: pointer;
    }
  }
