@import "base/global.scss";

.product-form-container {
  margin-left: 4%;
  margin-right: 4%;
  padding: 20px;
  border: 1px solid lightgrey;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 0 5px lightgrey;
}

.product-errors-container {
  display: inline;
  margin-bottom: 10px;
}

.required {
  color: $orange;
  display: inline;
}

.product-form-container input, textarea{
  width: 90%;
  margin-top: 8px;
  margin-bottom: 10px;
  border: 0;
  height: 30px;
  font-size: 15px;
  border: 1px solid lightgrey;
  padding-left: 10px;
  padding-top: 3px;
}

.product-form-container input:focus, textarea:focus{
  outline: none;
  border:1px solid $orange;
  box-shadow: 0 0 5px $orange;
  padding-left: 10px;
  padding-top: 3px;
}

.product-form-container textarea{
  font-size: 15px;
  padding-left: 10px;
  padding-top: 5px;
}

.product-form-overview {
  height: 70px;
}

.product-form-description {
  height: 130px;
}
#cost {
  width: 200px;
  text-align: right;
  margin-left: 10px;
}


.whole-product-form h1 {
  text-align: center;
  font-size: 20px;
  color: $darkgrey;
}

.whole-product-form {
  padding-top: 20px;
  margin-bottom: 20px;
  height: 100%;
}

.drop-zone-instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $lightorange;
  height: 100%;
  border: 1px $orange;
}

.drop-zone-instructions div {
  text-align: center;
  margin-top: 10px;
  color: $orange;
}

.product-image-upload {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  align-items: center;
  border: 1px solid $lightgrey;
}

.product-image-upload h1 {
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.product-image-upload Dropzone {
}

.product-image-upload img{
  height: 400px;
  max-width: 100%;
  object-fit: contain;
  margin-top: 20px;
  padding: 10px;
  box-sizing: border-box;git
}

.fa.fa-camera {
  font-size: 30px;
  color: $orange;
  padding-right: 13px;
}

.image-upload div {
  margin-bottom: 20px;
}

.image-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.product-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 20px;
}

.product-errors li {
  color: red;
}

#product-form-submit {
  background-color: $orange;
  color: white;
  padding-top: 7px;
  padding-bottom: 10px;
  height: 30px;
}

#product-form-submit:hover {
  background-color: $orangehover;
  cursor: pointer;
}
