@import 'base/global.scss';

.whole-product-show {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.product-show-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-seller-items-container {
  display: flex;
  margin-right: 20px;
}

.products-show-nav-Link {
  text-decoration: none;
  font-size: 20px;
  color: $orange;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid $orange;
  border-radius: 5px;
  height: 20px;
}

.products-show-nav-Link:hover {
  background-color: $lightorange;
  cursor: pointer;
}

.product-show-nav-right-side {
  display: flex;
  align-items: center;
}

.product-show.seller {
  display: flex;
  align-items: center;
  margin-left: 20px;
  text-decoration: none;
  color: black;
}

.product-show-nav img{
  height: 70px;
  width: 70px;
  object-fit: cover;
  margin-left: 5px;
  padding: 3px;
  border: 1px solid $lightgrey;
}

.product-show.seller h1 {
  font-size: 23px;
  margin-left: 20px;
}

.product-show.seller h1:hover {
  text-decoration: underline;
}

.product-show-productDetail {
  display: flex;
  width: 100%;
  justify-content: center;
}

.product-show {
  padding: 10px;
}

.product-show.left-side {
  width: 50%;
}
.product-show.left-side div {
  font-size: 16px;
  width: 100%;
}

.product-show.description h2, .product-show.overview h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.create-new-shopping-cart-item-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 15px;
  padding-left: 10px;
  height: 100px;

  .product-cost-shop-item-form {
    font-size: 20px;
    font-weight: bold;
  }

  .quantity-new-shopping-cart-item {
    #quantity {
      text-align: right;
      margin-left: 5px;
      width: 35px;
    }
  }

  #create-new-item-submit {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 15px;
    height: 35px;
    width: 400px;
    background-color: $orange;
    color: white;
  }
}


.product-show.left-side img{
  padding: 5px;
  width: 100%;
  max-height: 800px;
  object-fit: contain;
}
.product-show.right-side {
  width: 50%;
  padding: 10px;
}

.product-show.right-side h1 {
  font-size: 28px;
  font-weight: bold;
  padding: 10px;
}
.product-show.description, .product-show.overview {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: $darkgrey;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  
  div {
    width: 100%;
    word-wrap: break-word;
    text-overflow: ellipsis;
    height: 300px;
    text-overflow: ellipsis;
  }
}
