@import "base/global.scss";

.product-form-container {
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px;
  border: 1px solid $orange;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.whole-product-form h1 {
  text-align: center;
  font-size: 20px;
  color: $orange;
  margin-top: 20px;
}

.drop-zone-instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.drop-zone-instructions div {
  text-align: center;
  margin-top: 10px;
}

.product-image-upload {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-form-container img{
  height: 200px;
  width: 200px;
  object-fit: contain;
  background-color: $lightgrey;
}

.fa.fa-camera {
  font-size: 30px;
  color: gray;
  padding-right: 13px;
}

.image-upload {
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: 10px;
  background-color: $lightgrey;
}
