@import "base/global.scss";

.indexContainer {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  padding: 10px;
  justify-content: space-between;
}

.index-side-search {
  width: 300px;
  height: 500px;
  border: 1px solid lightgrey;
  text-align: center;
}

.index-product-list {
  display: flex;
  flex-wrap: wrap;
}

.product.items {
  margin-left: 10px;
  margin-bottom: 10px;
}

.index.productImg{
  width: 300px;
  height: 400px;
  object-fit: cover;
}

.index.productName {
  text-decoration: none;
  color: $darkgrey;
  font-size: 18px;
  margin-top: 6px;
}

.index {
  width: 300px;
}

.index.productName:hover {
  text-decoration: underline;
}

.index.productSeller, .index.productRating{
  font-size: 15px;
  color: grey;
  margin-top: 4px;
}

.index.productCost {
  margin-top: 4px;
  font-size: 15px;
}
